<%- include('partials/header') -%>
  <div class="main3">
    <section class="formBox single2">
        <div class="">
          <div class="formTitle">
            <i class="fa fa-plus fa-2x iconStyle2"></i><h2 class="h2main">Edit Job</h2>
          </div>
            <form action="/jobPost/updateJobPost" enctype="multipart/form-data" method="PUT">
              <div class="">
                <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="Job Title">
              </div>
              <div class="">
                <input type="text" class="form-control" id="jobPostURL" name="jobPostURL" placeholder="Job Post URL">
              </div>
              <div class="">
                  <input type="text" class="form-control" id="company" name="company" placeholder="Company">
              </div>
              <div class="">
                <input type="text" class="form-control" id="companyURL" name="companyURL" placeholder="Company URL">
              </div>
              <div class="">
                <input type="text" class="form-control" id="jobLocation" name="jobLocation" placeholder="Job Location">
              </div>
              <div class="">
                <input type="text" class="form-control" id="salary" name="salary" placeholder="Expected Salary Range">
              </div>
              <div class="">
                <input type="text" class="form-control" id="description" name="description" placeholder="Job Description">
              </div>
              <div class="">
                <input type="text" class="form-control" id="skillsRequired" name="skillsRequired" placeholder="Skills Required">
              </div>
              <button type="submit" class="btnFull btn" value="Upload">Add Job</button>
            </form>
          </div>
      
    </section>
    <div class="">
      <a class="btn btn2" href="/profile">Return to Profile</a>
    </div>
  </div>

<%- include('partials/footer') -%>