<%- include('partials/header') -%>
<div class="">
  <div class="">
    <section class="jobPostSection">
        <h2>Edit Job Post</h2>
        <section class="editJobPostSection">
            <div class="column2">
            Existing content ehre.
            <%= jobPost.company%>
        </div>
        <div class="column2">
            <form action="/jobPost/editJob" enctype="multipart/form-data" method="PUT">
              <div class="mb-3">
                <label for="jobTitle" class="form-label">Job Title</label>
                <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder=<%=jobPost%>>
              </div>
              <div class="mb-3">
                <label for="jobPostURL" class="form-label">Job Post URL</label>
                <input type="text" class="form-control" id="jobPostURL" name="jobPostURL">
              </div>
              <div class="mb-3">
                  <label for="company" class="form-label">Company</label>
                  <input type="text" class="form-control" id="company" name="company">
              </div>
              <div class="mb-3">
                <label for="companyURL" class="form-label">Company URL</label>
                <input type="text" class="form-control" id="companyURL" name="companyURL">
              </div>
              <div class="mb-3">
                <label for="jobLocation" class="form-label">Job Location</label>
                <input type="text" class="form-control" id="jobLocation" name="jobLocation">
              </div>
              <div class="mb-3">
                <label for="salary" class="form-label">Salary</label>
                <input type="text" class="form-control" id="salary" name="salary">
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description">
              </div>
              <div class="mb-3">
                <label for="skillsRequired" class="form-label">Skills Required</label>
                <input type="text" class="form-control" id="skillsRequired" name="skillsRequired">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
        </section>
        
      
    </section>
    <div class="">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
