<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Verde: Where nature meets technology | Rediscover our planet</title>
</head>
<body>
    <section>
        <section>
            <h1>Verde</h1>
            <p>Where nature meets technology.</p>
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>
        </section>
    </section>
</body>
</html>