<%- include('partials/headerLogin') -%>
<section class="hero">
    <div class="half leftHero">
        <h1 class="heroHeader">Organize & optimize your job search.</h1>
        <h2 class="heroSubHeader">Track and manage job lists, applications, interview dates, networking events, contacts and more.</h2>
        <button class="heroBtn" onclick="location.href='/signup'" type="button">Sign up for free</button>
        <p>Already have an account? <a class="heroLogin" href="/login">Log-in here.</a></p>
    </div>
    <div class="half rightHero">
        <img class="heroImg" src="/imgs/jobHunt-graphic4.png" alt="graphic of hiring process from opening, recruiting, interviewing to hired">
    </div>
</section>
<section class="main">
    <section class="siteInfo">
        <div class="half">
            <img class="" alt="">
        </div>
        <div class="half">
            Keep all of your job search and networking information in one place. Blueprint is your professional portal for navigating career changes, advancements and network development.
        </div>
    </section>
    <section class="features">
        <div>
            <img src="" alt="">
            <p></p>
        </div>
        <div>
            <img src="" alt="">
            <p></p>
        </div>
        <div>
            <img src="" alt="">
            <p></p>
        </div>
    </section>

</section>
    

<%- include('partials/footer') -%>