<%- include('partials/headerLogin') -%>
  <main class="main justifyCenter">
      <section class="formBox formSmall">
        <section class="two-thirds">
          <div class="formHead">
            <img src="/imgs/blueprint-logo.png" alt="blueprint logo" class="blueprintLogo">
            <h2 class="h2main">Welcome to blueprint.</h2>
            <p>Already signed up? <a class="link" href="/login">Log in</a></p>
          </div>
          <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
          <% } %>
          <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <div class="alert alert-info"><%= el.msg %></div>
                <% }) %>    
          <% } %>
            <form action="/signup" method="POST">
              <div>
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="Username">
              </div>
              <div>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Name">
              </div>
              <div>
                  <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="Job Title">
              </div>
              <div>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email Address">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Create a Password">
              </div>
              <div>
                  <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
              </div>
                  <button type="submit" class="btnFull">Create a Free Account</button>
              </form>
          </section> 
          <section class="one-third side-panel">
            <img src="/imgs/rocket-icon2b.png" alt="rocket-icon" class="rocket-icon2">
            <h2 class="header-white">Plan for success</h2>
            <p class="side-text">Organize job searches, expand your network, invest in your career growth & more.</p>
          </section> 
        </section>
    </main>

    <%- include('partials/footer') -%>