/********* Box Model Hack **********/
* {
    box-sizing: border-box;
}

/********* Clear fix hack **********/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}


/********* Text Styles **********/
body {
    font-family: 'Inter', sans-serif;
    background-color: required="true";
}
h1 {
   font-weight: 600;
   font-size: 2.1rem;
}
h3 {
    font-size: 1rem;
    margin: 15px 0 3px 0;
}
span {
    display: inline-block;
    line-height: 1.3;
}
span, .mainJobTitle, #rangeValue {
    font-weight: 600;
}
a:link {
    text-decoration: none;
}
a:hover {
    color: #2490fc;
}
.header-white {
    font-weight: 700;
    color: #f9f9f9;
    margin: 10px 0;
    line-height: 1.1;
}

/******** Main Styles *******/
input {
    margin: 18px 0;
}
.h2main {
    font-weight: 700;
    color: #17134d;
    margin: 10px 0;
}
.link {
    color: #2b57e7;
    font-weight: 700;
    text-decoration: underline !important;
}
.link:hover {
    color: #1e3ca0;
}
.form-control {
    padding: 9px 12px;
}
.formHead {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.iconStyle2 {
    margin: -7px 10px 0 10px;
    color: #2b57e7;
    display: inline-block;
}
.btn {
    padding: 10px 22px;
    text-align: center;
    border-radius: 7px;
    background-color: #2b57e7;
    color: #f9f9f9;
    border: none;
    font-weight: 600;
}
.btn:hover {
    text-decoration: underline;
    color: #f9f9f9;
}
.btnFull {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    border-radius: 7px;
    background-color: #2b57e7;
    color: #f9f9f9;
    border: none;
}
.btn2 {
    color: #ffffff;
    background-color: #081c5f;
    margin: 10px 0;
}
.btnSpace {
    margin: 15px 0 10px 0;
}
.btnDelete {
    background-color: #d33737;
    margin: 0 15px;
}
.bottomBtns {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.fa-trash {
    margin-right: 8px;
}

/********* Layout **********/
.main {
    height: 88vh;
}
.main, .main2, .main3 {
    padding: 5px;
    background-color: #f9f9f9;
} 
.main2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.main3 {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.half {
    padding: 0 30px;
    width: 50%;
}
.half2 {
    width: 50%;
}
.one-third {
    width: 33%;
}
.two-thirds {
    width: 64%;
    padding: 25px;
}
.two-thirds2 {
    width: 66%;
}
.justifyCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.formBox {
    display: flex;
    flex-flow: column;
    margin: 20px 50px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px #b8b8b8;
    background-color: #fefefe;
}
.formTitle {
    display: flex;
    align-items: center;
}
.single {
    padding: 30px 70px;
    min-width: 50%;
    max-width: 70%;
}
.single2 {
    padding: 30px 70px;
    min-width: 40%;
}
.formSmall {
    max-width: 90vh;
    min-width: 80vh;
    display: flex;
    flex-flow: row wrap;
    margin-top: 15px;
}
.sectionInlay {
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px #a3a3a3;
    background-color: #ffffff;
}

/********* Header **********/

.mainHeader {
    background-color: #17134d;
    height: 60px;
    color: #f9f9f9;
    box-shadow: 0px 0px 6px #363636; 
    padding: 0 50px;
}
.header2 {
    display: flex;
    justify-content: space-between;
}
.headerContainer {
    display: flex;
    align-items: center;
}
.siteName {
    color: white;
    font-size: 2rem;
    line-height: 1.8;
}
.siteTagline {
    font-weight: 400;
    margin: -8px 0 0 20px;
    font-size: 0.9rem;
}

.logo {
    width: 45px;
    margin: -8px 10px 0 0;
}
.nav {
    display: flex;
    align-content: center;
}
.loginNav {
    list-style: none;
    list-style-position: unset;
    font-weight: 600;
    font-size: 18px;
}
.loginNavLink {
    display: inline-block;
    margin: 10px 25px 0 25px;
    color: #f9f9f9;
}
.loginNavLink:hover {
    text-decoration: underline;
}

/********* Footer *********/
footer {
    text-align: center;
    color: #f9f9f9;
    background-color:#17134d;
    height: 50px;
    padding: 10px;
    margin: 0;
}
.mt-auto {
    margin-top: 0;
}

/********* Sign-up / Login Pages *******/
.blueprintLogo {
    width: 70px;
}
.form-text {
    margin-top: -12px;
}
.side-panel {
    background-color: #17134d;
    background-image: url('/imgs/blueprint-background-tall.png');
    background-position: center;
    border-radius: 0  10px 10px 0;
    margin-left: 20px;
    padding: 25px;
    color: #f9f9f9;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.side-text{
    line-height: 1.4;
    margin-top: 7px;
}
.rocket-icon2 {
    width: 60px;
    margin: -20px 0 20px 0;
}

/********* HOME PAGE ********/

.hero {
    background-color: #03002e;
    padding: 120px 50px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.leftHero {
    width: 40%;
    padding: 0 60px 0 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.rightHero {
    width: 60%;
    display: flex;
    justify-content: center;
}
.heroHeader {
    font-size: 3.6rem;
    font-weight: 800;
    line-height: 1.05;
    margin-bottom: 30px;
}
.heroSubHeader {
    font-size: 1.3em;
}
.heroImg {
    width: 870px;
}
.heroBtn {
    width: 60%;
    padding: 15px 25px; 
    margin: 50px 0 10px 0;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #2b57e7;
    color: white;
}
.heroLogin {
    color: #58affb;
}

@media only screen and (max-width: 1350px) {
    .hero {
        flex-flow: column;
        padding: 60px 0;
    }
    .half {
        width: 100%;
        padding: 0 50px;
        overflow: hidden;
    }
    .heroLeft, .heroRight {
        width: 100%;
    }
    .heroBtn {
        width: 100%;
    }
  }

/********* USER PROFILE *******/
.add-btn {
    margin: -7px 10px 0 10px;
    color: #2b57e7;
    display: flex;
    align-items: center;
}
.add-btn:hover {
    color: #1b49ac;
}
.addBtnText {
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    margin: 0 8px;
}

.userArea {
    margin: 30px;
}
.userInfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.displayPic {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.8em;
    font-weight: 900;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1b49ac;
    float: left;
    margin-right: 15px;
    color: white;
}

.displayPicText {
    font-weight: 800;
}

.companyLogo {
    margin: -3px 15px 0 0;
    width: 40px;
    height: 40px;
    font-size: 1.6em;
}
.userInfoText {
    display: block;
    line-height: 1.6;
}
.nextInterview, .nextCoffeeChat {
    margin: 0 30px;
}
.jobBoard {
    padding: 12px;
    margin-bottom: 40px;
}

.jobBoardHeader {
    display: flex;
    align-items: center;
    color:  #17134d;
    margin: 0 0 10px 0;
}

.profileHeader {
    font-weight: 700;
    font-size: 1.6em;
}

.jobListItem {
    list-style-type: none;
    background-color: #e8effc;
    padding: 10px 10px 5px 10px;
    margin:  0 0 5px 0;
    border-radius: 10px;
    display: flex;

}

.jobList {
    margin-bottom: 0;
    padding: 0;
}
.jobListText {
    font-size: 0.9em;
    line-height: 0.8;
    color: #141414;
}
.jobListTitle {
    font-weight: 700;
}


/********* JOB POST **********/

.jobHeader {
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1e3ca0;
}
.mainJobTitle {
    margin: 5px 0 3px 0;
    color: #17134d;
    font-weight: 700;
}
.jobSection {
    padding: 0 0 20px 0;
    margin-top: -5px;
}
.jobDescription {
    display: flex;
    flex-flow: row wrap;
}
.jobHead {
    font-size: 1.3rem;
    margin-top: 10px;
    color: #17134d;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
}
.jobCatTitle {
    color: #17134d;
    font-weight: 700;
}
.jobHalf {
    padding: 0 30px;
    width: 50%;
}
.jobWhole {
    padding: 0 30px;
}

.jobStatus {
    color: #00b15e;
    font-size: 1.2rem;
}
.interviewPanel {
    display: flex;
    margin: 10px 0 25px 0;
}
.interviewSingle {
    margin: 5px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px #a3a3a3;
    min-height: 80px;
    display: flex;
    justify-content: center;
}


.rangeValue {
    display: inline;
    padding: 5px;
    font-size: 1.2em;
    vertical-align: middle;
}

.interestLevel, .slider {
    vertical-align: middle;
}


.editJobPostSection {
    display: flex;
    flex-flow: row-wrap;
}
.column2 {
    width: 50%;
}





/************* SLIDE IN MENU ************/

.fadeInDown {
  opacity: 1 !important;
  transform: translateY(40px) !important;
}

#menu-btn {
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 10px 20px;
  border: 1px solid transparent;
  /* To avoid icon movement on hover */
  font-weight: 300;
  user-select: none;
  transition: border-color 0.3s;
  transform: translateY(-50%);
}

#menu-btn i {
    margin-left: 10px;
    color:  #fdfdfd;
}

#menu-btn:hover {
    cursor: pointer;
    border-color: #fff;
}

#menu__panel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 9999;
  border-left: 3px solid #1b49ac;
  background-color: #03002e;
  box-shadow: -2px 2px 20px rgba(#000, 0.5);
  user-select: none;
  transform: translateX(300px);
  transition: transform 0.5s;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  top: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  width: 100%;
  height: 70px;
  opacity: 0;
  transform: translateY(0);
  transition: all 0.3s;
}

.menu__icon {
    font-size: 26px;
}

.menu-item i {
    margin: 0 20px;
}

.menu-item a {
    display: inline-block;
    width: 100%;
    height: 70px;
    padding-left: 50px;
    line-height: 70px;
    color: #f9f9f9;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
}

.menu-item:hover {
    background-color: #17134d;
    border-left: 6px solid #1b49ac;
}

.menu__close {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  transition: transform 0.5s;
  color: #f9f9f9;
}

.menu__close:hover {
    cursor: pointer;
}